.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: .5rem;
    width: 50%;
}

.form div {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form div label {
    padding: .5rem;
}

.form .big-label {
    text-align: right;
}

.form input[type="text"] {
    padding: .25rem;
    border-radius: .5rem;
    border: 1px solid #a0a0a0;
}

.xp div {
    display: block;
}

.submit {
    align-items: end;
}

.submit input {
    background-color: #0000c9;
    border: none;
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
    grid-column: 2 / 3;
    justify-self: end;
    padding: .5rem;
    width: 50%;
}

@media screen and (max-width: 640px) {
    .form {
        width: 95%;
    }

    .form div {
        display: flex;
        flex-direction: column;
    }
    
    .form .big-label {
        text-align: center;
    }

    .xp div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .submit {
        align-items: center;
        margin-top: 2rem;
    }
}